version: "3.8"

services:
  n8n:
    image: n8nio/n8n
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    env_file:
      - .env
    volumes:
      - ./Agente:/home/node/.n8n
    networks:
      - minha_rede
    depends_on:
      - postgres
  
  python:
    image: python:3.12-slim
    container_name: python
    restart: unless-stopped
    ports: 
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./Scrapper:/app            # monta a pasta local ./app dentro do container
    working_dir: /app
    command: sh -c "pip install -r requirements.txt && flask run --host=0.0.0.0 --port=8000"
    networks:
      - minha_rede
    depends_on:
      - postgres

  postgres:
    image: ankane/pgvector
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # Mapeia o único arquivo SQL para o diretório de inicialização do Postgres
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - minha_rede

  evolution-api:
    container_name: lab_evolution_api
    image: evoapicloud/evolution-api:latest
    restart: always
    ports:
      - 8080:8080
    volumes:
      - lab_evolution_instances:/lab_evolution/instances
    env_file:
      - .env
    networks:
      - minha_rede
    depends_on:
      - postgres
      - redis

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - "6380:6379"
    networks:
      - minha_rede

  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    ports:
      - "8081:8080"
    networks:
      - minha_rede
    depends_on:
      - postgres

volumes:
  n8n_data:
  postgres_data:
  lab_evolution_instances:
  python:

networks:
  minha_rede:
    driver: bridge
